:root{
    --light-green: #FEFFDE;
    --my-green: #DDFFBC;
    --darker-green: #91C788;
    --darkest-green: #52734D;
}

p{
    margin:0;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: var(--light-green);
    color: var(--darkest-green);
    font-family: 'Roboto', sans-serif;
}
button{

    width: 100%;
    padding: 5%;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--darker-green);
    color: var(--my-green);
    border-radius: 15px;
    border: 2px solid var(--darkest-green);
}

button:hover{
    cursor: pointer;
    background-color: var(--darkest-green);

}

a{
    margin-left: 10px;
    color: var(--darkest-green);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #32532D;
}

nav {
    position: fixed;
    left: 0;
    text-align: center;

    width: 20vw;
    height: 100vh;
    background: var(--my-green);
    justify-items: center;
}

.logo-nav{
    width: 10vw !important;
}

.nav-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 4vh auto;
}
.nav-button{
    margin: 0 auto 0 3%;
    width: 50%;
    background: var(--darker-green);
    color: var(--my-green);
    border: 2px;
    border-style: solid;
    border-color: var(--darkest-green);
    border-radius: 10px;
    padding: 10px;

}

.nav-button:hover{
    background-color: var(--darkest-green);
    color: var(--darker-green);
}
.nav-avatar{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.login-item{
    display: flex;
    flex-direction: row;
}
.content{
    width: 80vw;
}

.tmp{
    width: 20vw;
}
.login-text{
    margin-top: 10px;
}
.fas{
    margin: auto 0 auto auto;
}